@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* GENERAL STYLES */
body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-shadow: 0px 0px 20px #000000;
  font-weight: 500;
}

h1 {
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  padding-top: 50px;
  text-shadow: 0px 0px 30px #000000;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 30px #000000;
}

input {
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid white;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.gamecontainer {
  max-height: 500px;
  max-width: 500px;
  width: 80%;
  height: 80%;
  border: 4px solid white;
  margin: 0 auto;
}

.gamedescription {
  margin: 0 auto;
  max-width: 500px;
  width: 80%;
}

.gamerules {
  margin: 0 auto;
  max-width: 500px;
  width: 80%;
}

.gamerules2 {
  margin: 0 auto;
  max-width: 500px;
  width: 80%;
  padding-top: 10px;
}

.back {
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Arrows */
.up {
  display: none;
  width: 60px;
  position: absolute;
  top: 380px;
  right: 18%;
}

.down {
  display: none;
  width: 60px;
  position: absolute;
  top: 800px;
  right: 18%;
}

.up2 {
  display: none;
  width: 60px;
  position: absolute;
  top: 380px;
  left: 18%;
}

.down2 {
  display: none;
  width: 60px;
  position: absolute;
  top: 800px;
  left: 18%;
}

/* LAYOUT THEMES */
.layout {
  text-align: center;
  height: 100%;
  min-height: 140vh;
}

.petthecatlayout {
  background-image: url("images/space.jpeg");
  background-position: bottom;
  background-size: auto;
}

.jellowarlayout {
  background-image: url("images/The-office.jpg");
  background-position: top center;
  background-size: 100%;
}

/* BUTTONS */
button {
  padding: 7px 25px;
  border-radius: 15px;
  border: none;
  margin: 0 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.startbutton {
  position: absolute;
  left: 50%;
  margin-left: -58.5px;
  top: 560px;
}

.startbutton2 {
  position: absolute;
  left: 50%;
  margin-left: -54px;
  top: 520px;
}

.player2div {
  max-width: 350px;
  width: 80%;
  position: absolute;
  top: 530px;
  left: 50%;
  margin-left: -160px;
}

/* Gradient from gradientbuttons.colorion.co */
.petthecatbtn {
  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /*box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
}
.petthecatbtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Gradient from gradientbuttons.colorion.co */
.jellowarbtn {
  background-image: linear-gradient(
    to right,
    #ba8b02 0%,
    #181818 51%,
    #ba8b02 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
.jellowarbtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Select */
.speeddiv {
  max-width: 320px;
  width: 80%;
  margin: 0 auto;
  /*display: none;*/
  /*position: absolute;
  top: 530px;
  left: 50%;
  margin-left: -160px;*/
}

.custom-select {
  width: 120px;
  position: relative;
  display: inline-block;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
}

.select-selected-jello {
  background-image: linear-gradient(
    to right,
    #ba8b02 0%,
    #181818 51%,
    #ba8b02 100%
  );
  text-align: left;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 6px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items-jello {
  background-image: linear-gradient(
    to right,
    #ba8b02 0%,
    #181818 51%,
    #ba8b02 100%
  );
  text-align: left;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 395px) {
  .playpongbutton2 {
    margin-top: 10px;
  }
  .player2div {
    max-width: 190px;
    width: 80%;
    position: absolute;
    top: 560px;
    left: 50%;
    margin-left: -95px;
  }
}

@media only screen and (max-width: 760px) {
  /* Styles for phones */
  .up {
    display: block;
  }

  .down {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .up {
    right: 16%;
  }

  .down {
    right: 16%;
  }

  .up2 {
    left: 16%;
  }

  .down2 {
    left: 16%;
  }
}

@media only screen and (max-width: 670px) {
  .up {
    right: 14%;
  }

  .down {
    right: 14%;
  }

  .up2 {
    left: 14%;
  }

  .down2 {
    left: 14%;
  }
}

@media only screen and (max-width: 580px) {
  .up {
    right: 12%;
  }

  .down {
    right: 12%;
  }

  .up2 {
    left: 12%;
  }

  .down2 {
    left: 12%;
  }
}

@media only screen and (max-width: 483px) {
  .up,
  .up2 {
    top: 400px;
  }

  .down,
  .down2 {
    top: 820px;
  }
}

@media only screen and (max-width: 358px) {
  .up,
  .up2 {
    top: 420px;
  }

  .down,
  .down2 {
    top: 840px;
  }
}

@media only screen and (max-width: 289px) {
  .up,
  .up2 {
    top: 440px;
  }

  .down,
  .down2 {
    top: 870px;
  }
}

@media only screen and (max-width: 287px) {
  .up,
  .up2 {
    top: 465px;
  }

  .down,
  .down2 {
    top: 885px;
  }

  .themebutton {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 286px) {
  .up,
  .up2 {
    top: 485px;
  }

  .down,
  .down2 {
    top: 905px;
  }
}

@media only screen and (max-width: 278px) {
  .up,
  .up2 {
    top: 505px;
  }

  .down,
  .down2 {
    top: 925px;
  }
}

@media only screen and (max-width: 256px) {
  .up,
  .up2 {
    top: 525px;
  }

  .down,
  .down2 {
    top: 945px;
  }
}
